[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_ST-if00
restart_method: command
##--------------------------------------------------------------------
[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20  # an example


[printer]
kinematics: corexy
max_velocity: 400 
max_accel: 12000        #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 256
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin: PG6
endstop_pin: tmc2209_stepper_x: virtual_endstop
position_min: 0


##  Uncomment for 300mm build
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 100   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: False
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0

driver_sgthrs: 150
diag_pin:^PG6


##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 256
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin: PG9
endstop_pin: tmc2209_stepper_y: virtual_endstop
position_min: 0
##--------------------------------------------------------------------


##  Uncomment for 300mm build
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 100  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: False
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0

driver_sgthrs:150
diag_pin: ^PG9

#####################################################################
#	z homing
#####################################################################

[safe_z_home]
home_xy_position: 120,60 # Change coordinates to the center of your print bed
speed: 250
z_hop: 10               # Move up 10mm
z_hop_speed: 5

#####################################################################
#	Bltouch
#####################################################################

[bltouch]
##	Bltouch - If you use this section , please comment the [probe] section
##	More infomation at : https://www.klipper3d.org/BLTouch.html
##	This bltouch is not used for Z height, only Quad Gantry Leveling
##	In Z+ Position
pin_up_touch_mode_reports_triggered: False

sensor_pin: PB7
##	In Y+ Position
control_pin: PB6
x_offset: 40
y_offset: 3
#z_offset: 2.4
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.5
samples_tolerance_retries: 3

[idle_timeout]
timeout: 1800

[bed_mesh]
speed: 50
horizontal_move_z: 10
mesh_min: 100,80
mesh_max: 335, 300
probe_count: 5,5


[z_tilt]
## Uncomment below for 300mm build
z_positions:
	-50, 18
	150, 348
	350, 18
points:
	50, 30
	200, 260
	295, 30
##--------------------------------------------------------------------
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.02


#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 8    
microsteps: 32

endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
## All builds use same Max Z
position_max: 250
position_min: -10
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2208 stepper_z]
uart_pin: PC6
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 8  
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2208 stepper_z1]
uart_pin: PC7
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 8  
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2208 stepper_z2]
uart_pin: PF2
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#   Connected to MOTOR_6
#   Heater - HE0
#   Thermistor - T0
[extruder]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 4.637   #Bondtech 5mm Drive Gears
#rotation_distance: 24.5   #H2
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
#gear_ratio: 50:17               #BMG Gear Ratio
#gear_ratio: 7.5:1
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF4
min_temp: 10
max_temp: 350
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.04
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PE4
interpolate: false
run_current: 0.45
sense_resistor: 0.150
stealthchop_threshold: 0

#fan for hotend FAN1
[heater_fan my_nozzle_fan]
pin: PA8
shutdown_speed: 1

heater: extruder

##Part Cooling Fan
[fan]
pin: PE5  # "FAN0"
cycle_time: .08
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
kick_start_time: .25

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  Thermistor - TB
heater_pin: PD12
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF3
#control: pid
#control: watermark
#pid_Kp: 22
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 130


[heater_fan filter]
pin: PD13
max_power:1
heater: heater_bed
heater_temp: 45
fan_speed: 1.0


[gcode_macro Rset_BLTOUCH]

gcode:
    BLTOUCH_DEBUG COMMAND=reset

[gcode_macro PRINT_START]

gcode:
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT

[gcode_macro PRINT_END]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:
    #   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5 F1800                   ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR

[gcode_macro POSITION]
gcode:
  GET_POSITION

[virtual_sdcard]
path: ~/gcode_files

[display_status]


[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    ##### set defaults #####
    {% set x = params.X|default(230) %}      #edit to your park position
    {% set y = params.Y|default(230) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}    
      G1 Z{z_safe}
      G90
      G1 X{x} Y{y} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}
#rename_existing: BASE_PAUSE
#default_parameter_E: 1.7
#gcode:
#  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
#  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
#  {% set max_z = printer.toolhead.axis_maximum.z|float %}
#  {% set act_z = printer.toolhead.position.z|float %}
#  {% if act_z < (max_z - 2.0) %}
#      {% set z_safe = 2.0 %}
#  {% else %}
#      {% set z_safe = max_z - act_z %}
#  {% endif %}
#  SAVE_GCODE_STATE NAME=PAUSE_state
#  BASE_PAUSE
#  G91
#  G1 E-{E} F2100
#  G1 Z{z_safe} F900
#  G90
# G0 X{x_park} Y{y_park} F6000
#  G91


[gcode_macro RESUME]
rename_existing: BASE_RESUME
#default_parameter_E: 1      # edit to your preferred retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME


[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro BED_GRDTEMP]
gcode:
    # get current temperate
    {% set start_temp = printer.heater_bed.temperature | round(0, "ceil") %}
	{% set grade_count 	 = params.G|default(10)|int %}
	{% set grade_minutes = params.Min|default(20)|int %} 
	{% set grade_time = grade_minutes*30 %} 
	{% set grade_target = params.T|default(55)|float %}
	{% set grade_delta = ((grade_target-start_temp)/grade_count) | round(1, "ceil") %}
	M118 STARTTEMP: {start_temp}, TARGET: {grade_target}, count: {grade_count}, gap_minutes: {grade_minutes}, grade_delta: {grade_delta}

    # for loop
	{% for grade_index in range(grade_count) %}
        {% set current_target = start_temp + (grade_index+1)*grade_delta %}
        M118 GI:{grade_index} GT: {current_target}
        M190 S{current_target}
		{% if current_target < 70 %}
			#M141 S0
			#CFAN_OFF
		{% endif %}
        M105
		{% for grade_tiny_time in range(grade_time) %}
        	M118 second:{grade_tiny_time*2} GT: {current_target}
        	G4 P2000
        	M105
		{% endfor %}
        M105
	{% endfor %}





[gcode_macro M204]
rename_existing: M204.1
gcode:
  {% set f = params.F|default(0.5)|float %}

  {% if 'S' in params %}
    {% set s = params.S|float %}
    SET_VELOCITY_LIMIT ACCEL={s} ACCEL_TO_DECEL={ s * f }
  {% else %}
    {% if 'P' in params %}
      {% set p = params.P|float %}
      {% if 'T' in params %}
        {% set t = params.T|float %}
        {% if p < t %}
          SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
        {% else %}
          SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
        {% endif %}
      {% else %}
        SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
      {% endif %}
    {% elif 'T' in params %}
      {% set t = params.T|float %}
      SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
    {% endif %}
  {% endif %}

[gcode_macro M205]
gcode:
  {% if 'X' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.X}
  {% elif 'Y' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.Y}
  {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.780
#*# pid_ki = 2.463
#*# pid_kd = 315.854
#*#
#*# [bltouch]
#*# z_offset = 2.750
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 74.8
#*# shaper_type_y = ei
#*# shaper_freq_y = 60.4
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.097
#*# pid_ki = 0.897
#*# pid_kd = 101.689
